.main_1,
.main_2,
.main_3 {
	width: 800px;
	height: 800px;
	background: yellow;
	padding: 10px;
	display: flex;
}

ul {
	text-decoration: none;
	list-style: none;
}

.sq {
	height: 260px;
	width: 260px;
}

a,
button {
	transition: transform 0.3s ease-in-out;
}

a:hover,
.button:hover {
	transform: scale(1.1);
}

a {
	text-decoration: none;
}


/*-------- BUTTON -------*/

.button {
	align-items: center;
	background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
	border: 0;
	border-radius: 8px;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	box-sizing: border-box;
	color: #FFFFFF;
	display: flex;
	font-family: Phantomsans, sans-serif;
	font-size: 20px;
	justify-content: center;
	line-height: 1em;
	max-width: 100%;
	min-width: 140px;
	padding: 3px;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	cursor: pointer;
	margin: 30px 300px;
}

.button-64:active,
.button-64:hover {
	outline: 0;
}

.button-64 span {
	background-color: rgb(5, 6, 45);
	padding: 16px 24px;
	border-radius: 6px;
	width: 100%;
	height: 100%;
	transition: 300ms;
}

.button-64:hover span {
	background: none;
}

@media (min-width: 768px) {
	.button-64 {
		font-size: 24px;
		min-width: 196px;
	}
}

/* ------------------- start page ------------------*/
.templ {
	max-width: 1200px;
	height: 100%;
	background: #4a4a4a;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 40px;
	padding: 40px;
}

.img_01,
.img_02 {
	width: 400px;
}

.img_03 {
	width: 700px;
}