.main_3 {
	background: rgb(238, 85, 111);
	flex-direction: column;
	gap: 10px;
}

.fiol {
	height: calc(100% / 3);
	background: rgb(68, 7, 83);
	display: flex;
	justify-content: space-between;
}


.green_sq,
.red_sq {
	width: 240px;
	height: 240px;
	background: green;
	margin: 10px;
	box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.75);
}

.fiol_red {
	display: flex;
	justify-content: center;
}

.red_sq {
	background: red;
}


.fiol_down {
	display: flex;
	padding: 10px 50px;
	flex-direction: column;
	align-items: center;
}

.rb {
	margin: 0 50px;
	padding: 10px;
	height: 100%;
	width: 100%;
	display: flex;
	gap: 75px;
	background: red;
	box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.75);
}

.white_sq {
	width: 80px;
	height: 80px;
	background: white;
}

.white_sq:nth-child(odd) {
	align-self: flex-start;
}

.white_sq:nth-child(even) {
	align-self: flex-end;
}