.pink {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.pink_square {
	width: 100px;
	height: 100px;
	background: rgb(233, 128, 145);
	box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
}

.green {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.green_square {
	width: 300px;
	height: 300px;
	background: green;
	padding: 10px;
	box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
}

.little_blue_1,
.little_blue_2 {
	width: calc(100% / 7);
	height: calc(100% / 7);
	background: #31157c;
}

.g_square_1 {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
}

.g_square_2 {
	display: flex;
	justify-content: flex-end;
}

.red {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.red_square {
	width: 200px;
	height: 200px;
	background: red;
	box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.75);
}