.chat {
	width: 800px;
	height: 800px;
	background: #57c959;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chat {
	border: 4px solid red;
}

.chat_msg {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	overflow-y: scroll;
}

.msg {
	min-height: 40px;
	max-width: 70%;
	background: #dbd646;
	padding: 20px;
	display: table;
	box-shadow: 0px 0px 48px 1px rgba(0, 0, 0, 0.75);
}

.msg:nth-child(even) {
	align-self: flex-end;
}

.msg:nth-child(odd) {
	align-self: flex-start;
}

.pink_box {
	height: 70px;
	width: 800px;
	background: rgb(210, 88, 108);
	border-top: 4px solid red;
	;
}